{% extends 'base.html' %}
{% load static %}

{% block nav %}
    {% include 'components/nav/nav.html' %}
{% endblock %}


{% block content %}

    <div class="container low-content-container d-table">
        <div class="d-table-cell align-middle">
            <div class="row">
                <div class="col-12 text-center w-100 mt-5">
                    <h1>Thank your for Subscribing!</h1>
                    <p>We will send you exclusive offers every week.</p>
                    <a class="btn btn-secondary" href="{% url 'home' %}">Back to Home Page</a>
                </div>
            </div>
        </div>
    </div>

    {% include 'components/footer/footer.html' %}
{% endblock %}
