{% load static %}

<div id="catagories-container p-4" class="container">
    <ul class="nav nav-pills nav-fill col-12 justify-content-center m-3">
        <li class="nav-item">
            <a class="nav-link active" href="#">Action</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">Adventure</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">MMO</a>
        </li>
    </ul>
</div>


{% block postloadjs %}
<script src="{% static 'js/categories.js' %}"></script>
{% endblock %}