{% extends 'base.html' %}
{% load static %}

{% block nav %}
    {% include 'components/nav/nav.html' %}
{% endblock %}


{% block content %}
    {% include 'components/headers/brand_and_search.html' %}

    <div class="hero">
        <div class="hero-text bg-light">
            <h2>Browse our range of <strong>Cheap Games</strong> by clicking the button below</h2>
            <a class="btn btn-secondary" href="{% url 'games' %}" role="button">Browse</a>
        </div>
    </div>

    {% include 'components/footer/footer.html' %}
{% endblock %}