{% extends 'base.html' %}
{% load static %}
{% load cart_tools %}

{% block content %}

{% include 'components/nav/nav.html' %}

<div class="container my-5">
    <div class="row text-center w-100">
        <div class="col-12 my-3">
            <h1>Thank you for your order!</h1>
            <p>
                Please make a note of your order details below.
                <br>
                You will also receive an email confirmation with your order details.
            </p>
        </div>
    </div>
    <hr class="seperator">
    <div class="row text-center w-100">
        <div class="col-6 mt-3">
            <p>Order Number:</p>
        </div>
        <div class="col-6 mt-3">
            <p>{{ order.order_number }}</p>
        </div>
    </div>
    <hr class="seperator">
    <div class="row text-center w-100">
        <div class="col-6 mt-3">
            <p>Address:</p>
        </div>
        <div class="col-6 mt-3">
            <p>{{ order.address.address_line_1 }}</p>
        </div>
    </div>
    <div class="row text-center w-100">
        <div class="col-6"></div>
        <div class="col-6">
            {% if order.address.address_line_2 %}
            <p>{{ order.address.address_line_2 }}</p>
            {% endif %}
        </div>
    </div>
    <div class="row text-center w-100">
        <div class="col-6"></div>
        <div class="col-6">
            <p>{{ order.address.city }}</p>
        </div>
    </div>
    <div class="row text-center w-100">
        <div class="col-6"></div>
        <div class="col-6">
            <p>{{ order.address.county }}</p>
        </div>
    </div>
    <div class="row text-center w-100">
        <div class="col-6"></div>
        <div class="col-6">
            <p>{{ order.address.country }}</p>
        </div>
    </div>
    <div class="row text-center w-100">
        <div class="col-6"></div>
        <div class="col-6">
            <p>{{ order.address.post_code }}</p>
        </div>
    </div>
    <hr class="seperator">
    <div class="row text-center w-100">
        <div class="col-6 mt-3">
            <p>Phone Number:</p>
        </div>
        <div class="col-6 mt-3">
            <p>{{ order.address.phone_number }}</p>
        </div>
    </div>
    <hr class="seperator">
    <div class="row text-center w-100">
        <div class="col-6 mt-3">
            Full Name:
        </div>
        <div class="col-6 mt-3">
            {{ order.full_name }}
        </div>
    </div>
    <hr class="seperator">
    <div class="row text-center w-100">
        <div class="col-6 mt-3">
            Email:
        </div>
        <div class="col-6 mt-3">
            {{ order.email }}
        </div>
    </div>
    <hr class="seperator">
    <div class="row text-center w-100">
        <div class="col-6 mt-3">
            Order Total:
        </div>
        <div class="col-6 mt-3">
            {{ order.order_total }}
        </div>
    </div>
    <hr class="seperator">
    <div class="row text-center w-100">
        <div class="col-6 mt-3">
            Order Date:
        </div>
        <div class="col-6 mt-3">
            {{ order.date }}
        </div>
    </div>
    <hr class="seperator">
    <div class="row text-center w-100">
        <div class="col-12 mt-3">
            <a href="{% url 'home' %}" class="btn btn-secondary">Return to Home Page</a>
        </div>
    </div>
</div>

{% include 'components/footer/footer.html' %}
{% endblock content %}