{% load static %}

<div class="background-grey footer">
    <ul class="nav justify-content-center">
        <li class="nav-item">
            <a class="nav-link text-dark" aria-current="page" href="https://www.facebook.com/"
                rel="noopener noreferrer nofollow" target="_blank">
                <i class="fab fa-facebook-f"></i>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-dark" href="https://www.twitter.com/" rel="noopener noreferrer nofollow"
                target="_blank">
                <i class="fab fa-twitter"></i>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-dark" href="https://www.instagram.com/" rel="noopener noreferrer nofollow"
                target="_blank">
                <i class="fab fa-instagram"></i>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-dark" href="https://www.linkedin.com/" rel="noopener noreferrer nofollow"
                target="_blank">
                <i class="fab fa-linkedin-in"></i>
            </a>
        </li>
    </ul>
    <p id="copyright" class="text-center"><i class="far fa-copyright"></i> Copyright
        Aaron Browne <span id="copyright-date"></span></p>
</div>


{% block postloadjs %}
<script src="{% static 'js/date.js' %}"></script>
{% endblock %}