{% load static %}

<div class="bg-light footer">
    <ul class="nav justify-content-center">
        <li class="nav-item">
            <a class="nav-link text-dark" aria-current="page" href="#">
                <i class="fab fa-facebook-f"></i>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-dark" href="#">
                <i class="fab fa-twitter"></i>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-dark" href="#">
                <i class="fab fa-instagram"></i>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-dark" href="#">
                <i class="fab fa-linkedin-in"></i>
            </a>
        </li>
    </ul>
    <p id="copyright" class="text-center"><i class="far fa-copyright"></i> Copyright
        Aaron Browne <span id="copyright-date"></span></p>
</div>


{% block postloadjs %}
    <script src="{% static 'js/date.js' %}"></script>
{% endblock %}
    