{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}


{% block nav %}
    {% include 'components/nav/nav.html' %}
{% endblock %}


{% block content %}

    <div id="not-found-container" class="text-center ">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <h1>Page Not found</h1>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <p>
                        Looks like we cannot find the page you are looking for.
                        <br>
                        While we are looking, please browse our site.
                    </p>
                </div>
            </div>
        </div>
    </div>

    {% include 'components/footer/footer.html' %}
{% endblock content %}
