<div class="container">
    <div class="row">
        <h1 class="align-content-center col-12 text-center p-3">Game Keys</h1>
        <p class=" col-12 text-center p-2">
            All <strong>Game Keys</strong> you will ever need. Ready to download within 5
            minutes
        </p>
    </div>

    <div class="row">
        <form class="form-inline col-12 justify-content-center p-3">
            <input class="form-control mr-sm-2"
                   type="search"
                   placeholder="Search"
                   aria-label="Search">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form>
    </div>
</div>
